DATABASE_URL="postgresql://postgres:naimur7402@localhost:5432/japan_path?schema=public"
AUTH_SECRET="0H9J8+bMIrGuffdEtjia2T94TcO/eDEAlgwwDGY3rjU="
NEXT_PUBLIC_APP_URL="https://japan-career-living-assistant.vercel.app/resources"

ADMIN_EMAIL="admin@jcla.local"
ADMIN_PASSWORD="JapanAdmin!2026"